body {
	padding: 0px;
	margin: 0px;
}
#app {
	
}
/*general*/
.fade-enter-active, 
.fade-leave-active {
	transition: opacity .1s;
	z-index: 1;
}
.fade-enter, 
.fade-leave-to {
	opacity: 0;
	z-index: 1;
}
.flex-container {
	display: flex;
	flex-wrap: nowrap;
	height: 100%;
	flex-direction: column;
}
.no-select {
	user-select: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
a {
	outline: none;
}
.text-wrapping {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.box {
	box-shadow: 0px 3px 25px 0px rgba(46,61,73,0.2);
}
.dimm {

}
.dimmed {
	background-color: rgba(0, 0, 0, 0.7);
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 5;
}
.loader {
	width: 100%;
	height: 80px;
	overflow: hidden;
	text-align: center;
	transition: .2s;
	opacity: 0;
	img {
		width: auto;
		height: 200px;
		margin-top: -60px;
	}
	&.active {
		opacity: .2;
	}
}
/* buttons */
.button {
	height: 34px;
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	border: none;
	color: white;
	background-color: #d6d6d6;
	height: 34px;
	line-height: 34px;
	padding: 0 16px;
	text-align: center;
	text-decoration: none;
	outline: none;
	transition: .2s;
	border-radius: 4px;
	outline: none;
	&:focus {
		outline: none;
	}
	&:hover {
		background-color: #bebebe;
	}
	&.big {
		font-size: 26px;
		height: 44px;
		padding: 0 20px;
	}
	&.main-button {
		border: 2px solid #41e4de;
		background-color: transparent;
		color: #41e4de;
		line-height: 30px;
		&:hover {
			color: white;
			background-color: #41e4de;
		}
	}
}
.s-profile-img {
	height: 36px;
	width: 36px;
	border-radius: 50%;
}

/*navigation*/
.navigation-top {
	background-color: #fff;
	height: 80px;
	width: 100%;
	position: fixed;
	z-index: 9;
	ul {
		margin: 0px;
		padding: 0px;
		li {
			list-style-type: none;
			display: inline-block;
		}
	}
	.page-links {
		ul {
			li {
				height: 80px;
				// line-height: 80px;
				a {
					display: inline-block;
					font-size: 18px;
					font-weight: bold;
					text-decoration: none;
					color: #9a9a9a;
					background-color: white;
					height: 80px;
					line-height: 80px;
					padding: 0px 15px;
					transition: color .2s ease-in-out;
					&.router-link-active,
					&.router-link-exact-active {
						border-bottom: 5px solid #41ede1;
						color: #737373;
					}
					&:hover {
						color: #737373;
					}

				}
			}
		}
	}
	.user-links,
	.auth-links {
		heigth: 80px;
		line-height: 80px;
		ul {
			text-align: end;
			li {
				a {
					text-decoration: none;
					&:hover {

					}
				}
				&.login {
					height: 80px;
					a {
						display: inline-block;
						font-size: 18px;
						font-weight: bold;
						text-decoration: none;
						color: #9a9a9a;
						background-color: white;
						height: 80px;
						line-height: 80px;
						padding: 0px 15px;
						transition: color .2s ease-in-out;
						&.router-link-active,
						&.router-link-exact-active {
							border-bottom: 5px solid #41ede1;
							color: #737373;
						}
						&:hover {
							color: #737373;
						}

					}
				}
			}
		}
	}	
}
.user-links .chat-link,
.mobile-user-links .chat-link {
	position: relative;
	color: #9a9a9a;
	min-width: 50px;
	height: 60px;
	width: auto;
	text-align: center;
	margin-bottom: -20px;
	.chat-nav-container,
	.user-nav-container {
		display: block;
		color: #9a9a9a;
		&.router-link-active,
		&.router-link-exact-active,
		&:hover {
			color:  #41ede1;
		}
	}
	.chat-nav-container {
		padding: 0px 10px;
		height: 60px;
		cursor: pointer;
		transition: .2s;
		svg {
			height: 26px;
			width: 26px;
			display: inline-block;
			position: absolute;
			bottom: 12px;
			right: 12px;
		}
		span {
			text-align: center;
			display: inline-block;
			height: 18px;
			min-width: 18px;
			max-width: 40px;
			overflow-x: hidden;
			border-radius: 9px;
			padding: 0px 5px;
			position: absolute;
			top: 37px;
			right: 30px;
			line-height: 18px;
			background-color: #ff8b94;
			color: #fff;
			font-size: 12px;
			font-weight: bold;
			box-shadow: 0px 0px 0px 2px white;
		}
	}
	&:hover {
		color:  #41ede1;
	}
}
.user-nav-container {
	padding: 0px 10px;
	display: inline-block;
	height: 80px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #9a9a9a;
	transition: .15s;
	img {
		margin-right: 5px;
	}
	&.router-link-active,
	&.router-link-exact-active,
	&:hover {
		color: #41ede1;
	}
}
.navigation-mobile .mobile-user-links .chat-link {
	height: 55px;
	margin-right: 0px;
	a.chat-nav-container,
	a.user-nav-container {
		height: 55px;
		padding: 0px;
		&.router-link-active,
		&.router-link-exact-active {
			color:  #41ede1;
		}
		svg {
			height: 26px;
			width: 26px;
			bottom: 12px;
		}
		span {
			top: 34px;
			right: 30px;
		}
	}
}
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
	line-height: 6px;
	padding: 0px;
}
.profile-control {
	padding: 10px;
	svg {
		height: 26px;
		width: 26px;
		color: #9a9a9a;
		transition: .15s;
		.btn {
			padding: 0px;
		}
	}
}
.btn.btn-secondary {
	background-color: transparent;
	background: transparent;
}
.b-dropdown.dropdown.show .btn-link svg,
.profile-control svg:hover {
	color: #737373;
}
.dropdown-item {
	color: #737373;
	height: 42px;
	line-height: 34px;
}
.dropdown-item {
	.button {
		width: 100%;
	}
	&.active, 
	&:active {
		background-color: transparent;
		color: #737373;
	}
}

.navigation-mobile {
	display: none;
	height: 60px;
	width: 100%;
	position: fixed;
	z-index: 9999;
	background-color: #fff;
	/*padding: 0px 15px;*/
	justify-content: space-between;
	.mobile-auth-links,
	.mobile-user-links {
		padding: 0px;
		margin: 0px 15px 0px 0px;
		li {
			list-style-type: none;
			display: inline-block;
			a {
				display: inline-block;
				text-decoration: none;
				height: 60px;
				line-height: 60px;
				padding: 0px 10px;
				font-weight: bold; 
				color: #a1a1a1;
				&.router-link-active,
				&.router-link-exact-active {
					color:  #41ede1;
				}
				&.dropdown-item {
					color: #737373;
					height: 42px;
					line-height: 34px;
				}
			}
		}
	}
	.hidden-nav-links {
		width: 220px;
		height: 100vh;
		background-color: white;
		position: absolute;
		top: 60px;
		left: -20px;
		transform: translateX(-220px);
		transition: .35s ease-in-out;
		border-top: 1px solid #eee;
		&.open {
			transform: translateX(0px);
			transition: .35s ease-in-out;
		}
		ul  {
			text-align: center;
			padding: 40px 20px 20px 20px;
			li {
				list-style-type: none;
				margin-bottom: 20px;
				a {
					text-decoration: none;
					font-size: 26px;
					font-weight: bold;
					color: #9a9a9a;
					&.router-link-active,
					&.router-link-exact-active {
						border-bottom: 3px solid #41ede1;
						color: #737373;
					}
				}
			}
		}
	}

}

.hidden-nav-button {
	height: 60px;
	width: 60px;
	cursor: pointer;
	.hidden-nav-button-wrapper {
		position: relative;
		display: inline-block;
		width: 35px;
		height: 35px;
		margin: 13px 0px 0px 15px;
		span {
			display: inline-block;
			width: 30px;
			height: 2px;
			position: absolute;
			background-color: #9a9a9a;
			border-radius: 4px;
			opacity: 1;
			transform: rotate(0deg);
			transition: .25s ease-in-out;
			&:nth-child(1){
				top: 6px;
				transform-origin: left center;
			}
			&:nth-child(2){
				top: 16px;
				transform-origin: left center;
			}
			&:nth-child(3){
				top: 26px;
				transform-origin: left center;
			}
		}
	}
	&.open {
		.hidden-nav-button-wrapper {
			span {
				&:nth-child(1){
					top: 7px;
					transform: rotate(45deg);
				}
				&:nth-child(2){
					/*top: 16px;*/
					width: 0%;
					opacity: 0;
				}
				&:nth-child(3){
					top: 28px;
					transform: rotate(-45deg);
				}
			}
		}
	}
}

/*pages*/

.page {
	padding-top: 80px;
}

.main-page,
.user-wrapper,
.users-wrapper,
.profile {
	padding: 20px 0px;
}
.chat-column {
	padding: 0px;
}
.v--modal-overlay .v--modal-box {
	/*top: 300px !important;*/
}
.login-modal,
.login-form,
.register-form,
.profile-info-edit {
	background-color: #fff;
	padding: 40px 20px 20px 20px;
	input {
		width: 100%;
		height: 38px;
		outline: none;
		border: 2px solid #c2c2c2;
		border-radius: 4px;
		padding: 5px 10px;
		font-size: 18px;
		color: #737373;
		margin-bottom: 15px;
		transition: all .3s;
		&::placeholder {
			color: #c1c1c1c1;
		}
	}
}
ul.auth-errors {
	margin: 0px;
	padding: 20px 0px 0px 0px;
	li {
		list-style-type: none;
		color: #ff8b94;
	}
}
.login-modal {
	padding-top: 20px;
}

/*chat*/

.messages-wrapper {
	&::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	}

	&::-webkit-scrollbar
	{
		width: 5px;
		background-color: #f5f5f5;
	}

	&::-webkit-scrollbar-thumb
	{
		background-color: #d6d6d6;
	}
}

@media screen and (max-width: 768px) {
	.user-nav-container {
		margin-right: 0px;
		.s-profile-img {
			height: 30px;
			width: 30px;
		}
		&.router-link-active,
		&.router-link-exact-active {
			border-bottom: none;
		}
	}
	.profile-control {
		margin-left: 8px;
	}
	.navigation-top {
		display: none;
	}
	.navigation-mobile {
		display: flex;
	}
	.page {
		padding-top: 60px;
	}
}